@import '../../../content/scss/Variables.scss';
@import '../../../content/scss/BaseStyles.scss';

.consent {
    display: inline-block;
    font: $fweight-normal $fsize-std $font;
    padding: 0 0 10vh 50px;
    float: left;
    width: 80%;

    @media #{$max-lg} {
        padding: 0 0 10vh 20px;
        width: 80%;
    }
    
    .container-fluid {
        margin: 0 !important;
        padding: 0 !important;
    }

    .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;

        /*div[class^=col] {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }*/
    }

    .consent-table {
        width: 95%;
    }
    
}